<!DOCTYPE html>
<html lang="en">
    <head>
        
            <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Assignment_1</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About </a></li>
            <li><a href="/movie">Movie</a></li>
            
          </ul>
        </div>
      </nav>
</html>