<head>
     <%- include('../style.ejs'); %>
     
    <h1>
        <%=pawprint.pawprint%>
    </h1>
</head>
<body>
    <br>
    <center><p>From the web development course, I would like to learn about building the dynamic web pages from end to end.</p></center>
</body>
